In [1]:
import numpy as np
import pandas as pd

#Drop

In [11]:
df = pd.read_csv('/content/heart_disease_uci.csv')

In [13]:
df.size, df.isna().sum()

(14720,
 id            0
 age           0
 sex           0
 dataset       0
 cp            0
 trestbps     59
 chol         30
 fbs          90
 restecg       2
 thalch       55
 exang        55
 oldpeak      62
 slope       309
 ca          611
 thal        486
 num           0
 dtype: int64)

In [14]:
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [16]:
df.drop(['trestbps', 'chol', 'fbs','restecg', 'thalch', 'exang', 'oldpeak', 'slope', 'ca', 'thal'], axis=1, inplace=True)
df.isna().sum()

id         0
age        0
sex        0
dataset    0
cp         0
num        0
dtype: int64

#Mean

In [57]:
mean = pd.read_csv('/content/heart_disease_uci.csv')

In [58]:
mean.dtypes

id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

In [59]:
mean.isna().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [ ]:



meanVals = mean.mean()
print('Mean Befor Replacement: ', mean.RunTime.mean())
print('Std Dev Befor Replacement: ', mean.RunTime.std())

mean.fillna(meanVals, inplace=True)
print('Mean After Replacement: ', mean.RunTime.mean())
print('Std Dev After Replacement: ', mean.RunTime.std())
mean.isna().sum()

#Multiple

In [25]:
!pip install miceforest

Collecting miceforest
  Downloading miceforest-5.7.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.2/58.2 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: lightgbm>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from miceforest) (4.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from miceforest) (1.25.2)
Collecting blosc (from miceforest)
  Downloading blosc-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 12.6 MB/s eta 0:00:00
Collecting dill (from miceforest)
  Downloading dill-0.3.8-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 15.7 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (1.11.4)
Installing collected packages: dill, blosc, miceforest
Successfully installed blosc-1.11.1 dill-0.3.8 miceforest-5.7.0

In [28]:
multiple  = pd.read_csv('/content/heart_disease_uci.csv', nrows=100)

In [29]:
multiple.isna().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        1
num         0
dtype: int64

In [35]:
multiple[multiple.columns] = multiple[multiple.columns].astype('category')

In [37]:
from miceforest import ImputationKernel

mice_kernel = ImputationKernel(
  data = multiple,
  save_all_iterations = True,
  random_state = 2023
)
mice_kernel.mice(2)
mice_imputation = mice_kernel.complete_data()

In [38]:
mice_imputation.isna().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

# KNN

In [40]:
knn = pd.read_csv('/content/heart_disease_uci.csv')

In [41]:
knn.dtypes

id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

In [43]:
knn.drop(['sex', 'dataset', 'cp', 'fbs', 'restecg','exang','slope','thal'], axis=1, inplace=True)

knn.dtypes

id            int64
age           int64
trestbps    float64
chol        float64
thalch      float64
oldpeak     float64
ca          float64
num           int64
dtype: object

In [45]:
knn.isna().sum()

id            0
age           0
trestbps     59
chol         30
thalch       55
oldpeak      62
ca          611
num           0
dtype: int64

In [46]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)
new_knn = imputer.fit_transform(knn)

new_knn = pd.DataFrame(new_knn, columns=knn.columns)
new_knn.isna().sum()

id          0
age         0
trestbps    0
chol        0
thalch      0
oldpeak     0
ca          0
num         0
dtype: int64

In [ ]:
print('Mean Befor Replacement: ', knn.calories_day.mean())
print('Mean After Replacement: ', new_knn.calories_day.mean())
print('Std Dev Befor Replacement: ', knn.calories_day.std())
print('Std Dev After Replacement: ', new_knn.calories_day.std())

# Next/Previous

In [63]:
next_prev = pd.read_csv('/content/heart_disease_uci.csv')

In [64]:
next_prev.isna().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [68]:
df = pd.DataFrame(next_prev)

# Define functions for next and previous value imputation
def next_value_imputation(column):
    return column.fillna(method='ffill')

def previous_value_imputation(column):
    return column.fillna(method='bfill')

# Apply next value imputation to 'Previous Year Rank' column
df['chol'] = next_value_imputation(df['chol'])

# Apply previous value imputation to 'Previous Year Rank' column
df['chol'] = previous_value_imputation(df['chol'])

print(df)

      id  age     sex        dataset               cp  trestbps   chol    fbs  \
0      1   63    Male      Cleveland   typical angina     145.0  233.0   True
1      2   67    Male      Cleveland     asymptomatic     160.0  286.0  False
2      3   67    Male      Cleveland     asymptomatic     120.0  229.0  False
3      4   37    Male      Cleveland      non-anginal     130.0  250.0  False
4      5   41  Female      Cleveland  atypical angina     130.0  204.0  False
..   ...  ...     ...            ...              ...       ...    ...    ...
915  916   54  Female  VA Long Beach     asymptomatic     127.0  333.0   True
916  917   62    Male  VA Long Beach   typical angina       NaN  139.0  False
917  918   55    Male  VA Long Beach     asymptomatic     122.0  223.0   True
918  919   58    Male  VA Long Beach     asymptomatic       NaN  385.0   True
919  920   62    Male  VA Long Beach  atypical angina     120.0  254.0  False

              restecg  thalch  exang  oldpeak        slope   ca  \
0      lv hypertrophy   150.0  False      2.3  downsloping  0.0
1      lv hypertrophy   108.0   True      1.5         flat  3.0
2      lv hypertrophy   129.0   True      2.6         flat  2.0
3              normal   187.0  False      3.5  downsloping  0.0
4      lv hypertrophy   172.0  False      1.4    upsloping  0.0
..                ...     ...    ...      ...          ...  ...
915  st-t abnormality   154.0  False      0.0          NaN  NaN
916  st-t abnormality     NaN    NaN      NaN          NaN  NaN
917  st-t abnormality   100.0  False      0.0          NaN  NaN
918    lv hypertrophy     NaN    NaN      NaN          NaN  NaN
919    lv hypertrophy    93.0   True      0.0          NaN  NaN

                  thal  num
0         fixed defect    0
1               normal    2
2    reversable defect    1
3               normal    0
4               normal    0
..                 ...  ...
915                NaN    1
916                NaN    0
917       fixed defect    2
918                NaN    0
919                NaN    1

[920 rows x 16 columns]